<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".utilities.LoginController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Delice"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity android:name=".ui.recipeBook.AddRecipeActivity"
            android:exported="false"/>

        <activity android:name=".ui.home.AddMealActivity"
            android:exported="false"/>

        <activity android:name=".ui.friends.FriendRecipeBookActivity"
            android:exported="false"/>

        <activity android:name=".ui.recipe.RecipeDetailActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.PreMain.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.PreMain.SignUpActivity"
            android:exported="false" />

        <!-- OnboardingActivity is now the start activity -->
        <activity
            android:name=".ui.PreMain.OnboardingActivity"
            android:exported="true"
            android:label="Delice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity does not need the LAUNCHER intent filter anymore -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Delice" />
    </application>

</manifest>
